name: Publish
permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]

env:
  CARGO_TERM_COLOR: always

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Check version
        run: |
          PKG_VERSION=$(grep '^version =' Cargo.toml | head -1 | cut -d '"' -f 2)
          test "v$PKG_VERSION" = "${{ github.ref_name }}"
      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
